{% extends 'layout/application.twig' %}
{% block body %}
<h1><a href="/projects/{{ project.alias}}">{{ project.name }}</a> :: {{ recipe.name }}</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/projects/{{ project.alias }}/recipes/{{ recipe.in_project_id}}">Top</a></li>
        <li><a href="/projects/{{ project.alias }}/recipes/{{ recipe.in_project_id}}/executions">History</a></li>
      </ul>
    </div>
    <div class="span10">
      <h2>{{ raw_recipe.getDescription() }}</h2>

      <form action="/projects/{{ project.alias }}/recipes/{{ recipe.in_project_id }}/confirm" method="post">
        <div><input type="submit" value="Confirm" class="btn btn-primary btn-large"></div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
